@import "tailwindcss";
@tailwind utilities;

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

hr {
    color: #ccc;
}

a {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: purple;
}

.break-anywhere {
    line-break: anywhere;
}

.font-emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Android Emoji", "EmojiSymbols", sans-serif;
}
